*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edf2f4;
    
}

#exercise1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 800px;
    margin: 50px auto;
    padding: 20px 0;

    background-color: #2d3034;
    border-radius: 10px;
    border: 2px solid white;

}

#exercise1 h1{
    color: white;
    font-size: 2em;

}

#exercise1 input{
    background-color: rgba(255, 255, 255, 0.323);
    border: 1px solid white;
    border-radius: 5px;

    width: 200px;
    height: 25px;

    padding-left: 5px;
    
}

#exercise1 input::placeholder{
    color: white;
}

#exercise1 button{
    background-color: #c40f24;
    color: white;

    border: none;
    padding: 6px;
    border-radius: 10px;

}

#exercise1 button:hover{
    background-color: #980314;
}

#exercise1 #login-message{
    padding: 20px 0;
}

